<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ name }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.antwerpen.be/{{branding.type}}_branding_favicons/citizens/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.antwerpen.be/{{branding.type}}_branding_favicons/citizens/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.antwerpen.be/{{branding.type}}_branding_favicons/citizens/favicon-16x16.png">
  <link rel="manifest" href="https://cdn.antwerpen.be/{{branding.type}}_branding_favicons/citizens/site.webmanifest">
  <link rel="mask-icon" href="https://cdn.antwerpen.be/{{branding.type}}_branding_favicons/citizens/safari-pinned-tab.svg" color="{{#if coreBranding}}#347ea6{{else}}#cf0039{{/if}}">
  <link rel="stylesheet" href="https://cdn.antwerpen.be/{{branding.cdn}}/{{branding.version}}/main.min.css"/>
  <meta name="msapplication-TileColor" content="{{#if coreBranding}}#5fb1d6{{else}}#cf0039{{/if}}">
  <meta name="theme-color" content="{{#if coreBranding }}#ffffff{{else}}#cf0039{{/if}}">

  {{#if flexboxgrid}}
  {{{frontEndConfig.flexbox.link}}}
  {{/if}}

</head>
<body>
  <app-root></app-root>
</body>
</html>
