<aui-header>
  <div auiHeaderLogo>
    {{#if routing.add}}
    <aui-logo
      src="https://cdn.antwerpen.be/{{branding.type}}_branding_scss/{{coreVersion}}/assets/images/{{branding.logo}}">
    </aui-logo>
    {{else}}
    <a href="#" class="o-header__logo">
      <img
        src="https://cdn.antwerpen.be/{{branding.type}}_branding_scss/{{coreVersion}}/assets/images/{{branding.logo}}" />
    </a>
    {{/if}}
  </div>
  {{#if routing.add}}
  <div auiHeaderMenuItem>
    <a routerLink="/home" class="a-button o-header__button">Home</a>
  </div>
  <div auiHeaderMenuItem>
    <a routerLink="/about" class="a-button o-header__button">About</a>
  </div>
  {{/if}}
  {{#if auth}}
  <div auiHeaderMenuItem>
    <aui-user-menu (login$)="login()" (logout$)="logout()"></aui-user-menu>
  </div>
  {{/if}}
</aui-header>
<main class="u-wrapper">
  <div class="u-container u-margin-top-xx u-margin-bottom-lg" role="main">
    {{#if routing.add}}
    <router-outlet></router-outlet>
    {{else}}
    <home-page></home-page>
    {{/if}}
  </div>
</main>
<aui-footer>
  <div auiFooterBottom>
    <aui-subfooter>
      <aui-copyright domain="Stad Antwerpen"></aui-copyright>
    </aui-subfooter>
  </div>
</aui-footer>
